flujo_ACA.json
{
    "name": "ACA - Sistema de Certificación Autorizado",
    "nodes": [
      {
        "parameters": {
          "path": "api/v1/certification-request",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "authentication": "headerAuth",
          "responseHeaders": {
            "Content-Type": "application/json"
          }
        },
        "id": "8a1fd153-2d6b-4e55-8729-defb6d475995",
        "name": "API Endpoint",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "operation": "insert",
          "schema": "public",
          "table": "certification_requests",
          "columns": "={{Object.keys($json.body)}}",
          "values": "={{Object.values($json.body)}}",
          "returnFields": "id, status, created_at"
        },
        "id": "a2b3c4d5-e6f7-8g9h-i0j1-klmnopqrstuv",
        "name": "DB - Register Request",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [450, 300]
      },
      {
        "parameters": {
          "url": "https://api.sambanova.ai/v1/completions",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 9b87ae98-63f3-4d5b-8d25-77c27690beb4"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "jsonParameters": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "Meta-Llama-3.2-3B-Instruct"
              },
              {
                "name": "prompt",
                "value": "={\"role\": \"system\",\"content\": \"Eres un Agente de Certificación Autorizado especializado en análisis técnico y validación de documentación. Analiza la siguiente solicitud:\"}{\"role\": \"user\",\"content\": \"{{$json.body.technical_documentation}}\"}"
              },
              {
                "name": "temperature",
                "value": "0.7"
              },
              {
                "name": "max_tokens",
                "value": "1000"
              }
            ]
          }
        },
        "id": "95c2c0f3-4d8b-49cf-9f1c-6c7dd3a3c6d8",
        "name": "SambaNova Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [650, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.choices[0].finish_reason}}",
                "value2": "stop"
              }
            ]
          }
        },
        "id": "d5c89c1f-8417-4581-a512-39e6c88db123",
        "name": "Validation Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [850, 300]
      },
      {
        "parameters": {
          "operation": "update",
          "schema": "public",
          "table": "certification_requests",
          "columns": "status, ai_analysis, updated_at",
          "values": "={{['ANALYZED', $json.choices[0].text, $now]}}"
        },
        "id": "7b2d9e12-6f3a-4c25-b89d-123456789abc",
        "name": "DB - Update Analysis",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [1050, 250]
      },
      {
        "parameters": {
          "functionCode": "console.log($json.body.request_id + ': Análisis completado - ' + $json.choices[0].text.substring(0,100) + '...');return items;"
        },
        "id": "3e4f5g6h-7i8j-9k0l-1m2n-opqrstuvwxyz",
        "name": "System Logger",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [1050, 400]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "request_id",
                "value": "={{$node['DB - Register Request'].json.id}}"
              },
              {
                "name": "status",
                "value": "success"
              },
              {
                "name": "message",
                "value": "Análisis de certificación completado"
              }
            ]
          }
        },
        "id": "hij1klm2-n3o4-p5q6-r7s8-tuvwxyz12345",
        "name": "Response Format",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [1250, 300]
      }
    ],
    "connections": {
      "API Endpoint": {
        "main": [
          [
            {
              "node": "DB - Register Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB - Register Request": {
        "main": [
          [
            {
              "node": "SambaNova Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SambaNova Analysis": {
        "main": [
          [
            {
              "node": "Validation Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation Check": {
        "main": [
          [
            {
              "node": "DB - Update Analysis",
              "type": "main",
              "index": 0
            },
            {
              "node": "System Logger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB - Update Analysis": {
        "main": [
          [
            {
              "node": "Response Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "System Logger": {
        "main": [
          [
            {
              "node": "Response Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "tags": [],
    "triggerCount": 1,
    "nodeTypes": []
  }